/2021_hw4.pdf
/baboon.jpg
/butterfly.jpg
/cat.jpg
/FIR_coefficient.dat
/get-pip.py
/golden.dat
/HW4_posim.cr.mti
/HW4_posim.mpf
/HW4_presim.cr.mti
/HW4_presim.mpf
/image.jpg
/img.dat
/main.py
/MFE.v
/MFE.vo
/MFE_v.sdo
/MFE_v.sdo_typ.csd
/Pattern1.dat
/python
/Report.docx
/report.pdf
/self build data file
/test.py
/testfixture.v
/untitled
/vsim.wlf
/work